path.link {
  fill: none;

  stroke-width: 1.5px;
}

.circle {
  fill: #ccc;
  stroke: #fff;
  stroke: black;
  stroke-width: 1.5px;
}
.pin {
  fill: deeppink;
  stroke: #fff;
  stroke: black;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}